# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Commonly Used Libraries used in Data Science
- Data Science Tools
- Arithmetic Expressions in Python

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Panda
3. Matplotlib
4. Seaborn
5. Plotly
6. Scikit-Learn
7. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python:

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
Md. Shadat Amin Chowdhury